body, html {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
	
}
.hero-image {
	background-image: url("img/webdevelopment.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:  #fff;
	text-decoration:bold;
	
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 12px 16px;
	text-decoration:bold;
}
li a:hover {
	background-color:  #000;
	color:#fff;
}
 
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration:bold;
}

li .dropdown:hover .dropbtn {
    background-color: black;
   
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
color:black;

}


.dropdown:hover .dropdown-content {
    display: block;
background-color: white;
color: white;
}
.text {
	margin: 0.5em;
	margin-left: 0.5em;
	font-size: 1.5em;
	color: #000;
	font-family: "Times New Roman";
}
.text2 {
	margin: 0.5em;
	margin-left: 0.5em;
	font-size: 1em;
	color: #000;
	font-family: "Times New Roman";
}
h1,h2 {
	margin: 0.5em;
	font-size: 1.5em;
	font-family: "Arial";
}
h2 {
	font-size: 1.5em;
	color: #000;
	font-family: "Verdana";
}
main a{
	color: #000;
	text-decoration: none;
}
main a:hover {
	color: #000;
	text-decoration: none;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}

.contact img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
	
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 50%;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}
#contact {
	margin: 1em
}
label {
	display: block;
}
input[type=text], input[type=email], select, textarea {
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #fff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 250px;
}

input[type=submit]:hover {
    background-color: #000;
	color:#FFFFFF
}
footer {
	background-color: #000;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
div.gallery {
    margin: 5px;
    border: 1px solid #000;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
 /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
} 
.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}

figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}

footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
.login-form {
width:330px;
padding:10px;
background-color:#000099;
}
.login-form .form_label
{
margin:15px;
margin-bottom:30px;
font-size:25px;
font-weight:bold;
color:white;
text-decoration:underline;
}
.login-form input[type="text"],input[type="password"]
{
width:230px;
height:40px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}
.login-form input[type="email"]
{
width:230px;
height:40px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}
.login-form input[type="submit"]
{
width:230px;
font-size:17px;
background-color:#fff;
color:black;
}
.login-form select{
width:230px;
background-color:#fff;
}
.login-form select{
width:80%;
}
.login-form textarea
{
width:230px;
}
.login-form textarea
{
width:80%;
}
@media only screen and (min-width:700px) and (max-width:995px)
{
#wrapper
{
width:100%;
}
#wrapper h1
{
font-size:30px;
}
.login-form
{
width:50%;
margin-left:25%;
padding-left:0px;
padding-right:0px;
}
.login-form input[type="text"],input[type="password"]
{
width:80%;
}
.login-form textarea
{
width:80%;
}
.login-form input[type="submit"]
{
width:80%;
}
}
@media only screen and (min-width:400px) and (max-width:699px)
{
#wrapper
{
width:100%;
}
#wrapper h1
{
font-size:30px;
}
.login-form
{
width:60%;
margin-left:20%;
}
.login-form input[type="text"],input[type="password"]
{
width:80%;
}
.login-form input[type="submit"]
{
width:80%;
}
}
@media only screen and (min-width:100px) and (max-width:399px)
{
#wrapper
{
width:100%;
}
#wrapper h1
{
font-size:25px;
}
.login-form
{
width:90%;
margin-left:5%;
padding-left:0px;
padding-right:0px;
}
.login-form input[type="text"],input[type="password"]
{
width:80%;
}
.login-forminput[type="submit"]
{
width:80%;
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}

@media screen and (max-width: 700px) {
	figure {
		width: 50%;
		margin: 1em;
	}
	
}